@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body
{
    height: 100vh;
    width: 100%;
    display: flex;

}

form
{
    margin-top: 40px;
    width: 400px;
    height: 600px;
    display: flex;
    margin-left: -850px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 37);
    border-radius: 30px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
}

h1
{
    font-size: 40px;
    text-align: center;
    color: chocolate;
    text-shadow: 2px 2px 1px black;
    letter-spacing: 3px;
    margin-bottom: 5px;
    opacity: .7;
}

label
{
    font-size: 18px;
    color: black;
    margin-left: 10%;
    opacity: .9;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

input
{
    width: 80%;
    margin: 2% auto;
    margin-bottom: 4%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    border-bottom: 1px solid black;
    opacity: .8;
    font-size: 18px;
}

button
{
    width: 30%;
    margin: 1% auto;
    color: black;
    font-size: 15px;
    opacity: .9;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 10px ;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(31, 38, 135, 37);
    border-left: 1px solid rgba(255, 255, 255, .3);
}

a
{
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: .7;
}

.book
{
    opacity: .5;
    width: 100%;
}