*{ 
    margin:0;
    padding:0; 
    box-sizing: border-box; 
}   
#navbar
{
    position:sticky;
    top: 0;
    left: 0; 
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
} 
.navbar .navbar-brand
{
    font-size: 25px;
    font-weight: 800; 
    color: darkred !important;
} 
.nav-item
{
    font-size: 20px;
    font-weight: 500;
}
#navbarContent a 
{
 border-bottom: 2px solid transparent; 
}
#navbarContent a:hover
{
    border-bottom: 2px solid red;
} 
#home  
{ 
    background-image: url('./home\ background\ img.jpg');
    background-size: cover; 
    background-position: center; 
    
} 

#home h1
{
    font-size: 100px;
    color: white; 
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 2px 0px #ccc;
}
#table
{  
  background-image:url('./table\ background\ img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}  

#menu 
{
    background-image:url("./menu\ background\ img.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}  


    

